n8n-workflows/3-chat-conversation.json
[{"updatedAt":"2025-10-28T14:33:16.444Z","createdAt":"2025-10-28T07:48:44.700Z","id":"ylqbQtiluXBGWHAk","name":"Student Chat Conversation","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"chat","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"51bd2e30-7c86-449c-aff9-773126f3db99","name":"Webhook","webhookId":"1a0eadb5-2970-4019-b73c-3a1f71d6f3bb"},{"parameters":{"method":"POST","url":"http://ollama:11434/api/generate","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gemma2:2b\",\n  \"prompt\": \"Eres un asistente educativo amigable y motivador. Tu objetivo es introducir al estudiante a una nueva actividad de aprendizaje de forma breve y entusiasta.\\n\\nCONTEXTO DE LA ACTIVIDAD:\\n- Curso: {{ $json.body.courseName }}\\n- Actividad: {{ $json.body.activityTitle }}\\n- Descripción: {{ $json.body.activityDescription }}\\n\\nCONVERSACIÓN PREVIA:\\n{{ $json.body.conversationHistory.map(m => `${m.role}: ${m.text}`).join('\\\\n') }}\\n\\nMENSAJE DEL ESTUDIANTE:\\n{{ $json.body.studentMessage }}\\n\\nINSTRUCCIONES:\\n- Responde de forma breve (máximo 2-3 oraciones)\\n- Sé motivador y cercano\\n- Conecta con los intereses del estudiante\\n- Si es el primer mensaje, da la bienvenida\\n- Si pregunta algo específico, responde directamente\\n- Anima al estudiante a comenzar la actividad\\n\\nRESPUESTA:\",\n  \"stream\": false,\n  \"options\": {\n    \"num_predict\": 150,\n    \"temperature\": 0.8\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,0],"id":"57ea0efa-3c6a-4aa8-988a-94635431f8fe","name":"HTTP Request"},{"parameters":{"jsCode":"// Extraer la respuesta de Ollama\nconst ollamaResponse = $input.item.json.response;\n\n// Limpiar la respuesta (eliminar saltos de línea innecesarios)\nlet botResponse = ollamaResponse\n  .replace(/\\n+/g, ' ')\n  .trim();\n\n// Limitar longitud máxima (por seguridad)\nif (botResponse.length > 300) {\n  botResponse = botResponse.substring(0, 297) + '...';\n}\n\nreturn {\n  botResponse: botResponse\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,0],"id":"ffb3dec3-133e-45a3-9513-becc88f379e5","name":"Code in JavaScript"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[624,0],"id":"a913f58c-de87-4281-a0ae-6c7328451599","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a413380e-5b13-48cf-9ad7-dddcc732465e","triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-10-28T07:48:44.700Z","createdAt":"2025-10-28T07:48:44.700Z","role":"workflow:owner","workflowId":"ylqbQtiluXBGWHAk","projectId":"zKUMyuq47NXmKr1F","project":{"updatedAt":"2025-10-28T04:33:03.530Z","createdAt":"2025-10-28T00:56:09.117Z","id":"zKUMyuq47NXmKr1F","name":"JOSHEP ANTONY Ccahuana <joshep.antony.cc.l@gmail.com>","type":"personal","icon":null,"description":null}}]}]
